<div class="fixed-top container">
    <nav class="navbar navbar-expand-sm navbar-light bg-white shadow-sm mt-1 rounded-3">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="./assets/images/logo2.png" class="mb-1" alt="logo" width="30" height="24">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link"  aria-current="page" routerLink="/admin/products">Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/admin/contact">Contact</a>
              </li>
            </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="text-light mb-5">.</div>
  
<!-- contact us -->
<div class="container pt-2">
    <div class="position-relative row">
      <img src="./assets/images/contact.jpg" class="w-100" alt="contact"/>
      <div class="position-absolute w-100 h-100 d-flex align-items-center">
        <div class="ms-4 text-white"><h3>Contact us</h3>keep in touch with us</div>
      </div>
    </div>
  </div>
  <div class="container mt-2 p-4">
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2">
  
      <div class="col p-3">
        <div>
          <h5>Contact Information</h5>
          Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl. Phasellus pede arcu, dapibus eu, fermentum et, dapibus sed, urna.
        </div>
        <div class="mt-4">
          <h6>The Office</h6>
        </div>
        <div class="d-flex mt-3">
          <div class="me-2">
            <i class="fa-solid fa-location-dot"></i>
          </div>
          <div>
            70 Washington Square South Casablanca, NY 10012, Morocco
          </div>
        </div>
        <div class="d-flex mt-3">
          <div class="me-2">
            <i class="fa-solid fa-phone"></i>
          </div>
          <div>
            +212 623 567 882
          </div>
        </div>
        <div class="d-flex mt-3">
          <div class="me-2">
            <i class="fa-solid fa-envelope"></i>
          </div>
          <div>
            contact@shop.com
          </div>
        </div>
        <div class="d-flex mt-3">
          <div class="me-2">
            <i class="fa-solid fa-clock"></i>
          </div>
          <div>
            Monday-Saturday
            <br>
            11am-7pm ET
          </div>
        </div>
        <div class="d-flex mt-3">
          <div class="me-2">
            <i class="fa-sharp fa-solid fa-calendar-days"></i>
          </div>
          <div>
            Sunday
            <br>
            11am-6pm ET
          </div>
        </div>
  
      </div>
      <div class="col bg-white rounded-3 p-3">
        <div>
          <h5>Got Any Questions?</h5>
          Use the form below to get in touch with the sales team
        </div>
        <hr>
        <form [formGroup]="contactFormGroup" (ngSubmit)="handleSendMessage()">
          <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" formControlName="name" placeholder="name">
            <small *ngIf="contactFormGroup.controls['name'].errors && contactFormGroup.controls['name'].touched" class="text-danger">
              {{errorContact('Name',contactFormGroup.controls['name'].errors)}}
            </small>
          </div>
          <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" class="form-control"formControlName="email" placeholder="name@gmail.com">
            <small *ngIf="contactFormGroup.controls['email'].errors && contactFormGroup.controls['email'].touched" class="text-danger">
              {{errorContact('Email',contactFormGroup.controls['email'].errors)}}
            </small>
          </div>
          <div class="mb-3">
            <label class="form-label">Subject</label>
            <input type="text" class="form-control" formControlName="subject" placeholder="subject">
            <small *ngIf="contactFormGroup.controls['subject'].errors && contactFormGroup.controls['subject'].touched" class="text-danger">
              {{errorContact('Subject',contactFormGroup.controls['subject'].errors)}}
            </small>
          </div>
          <div class="mb-3">
            <label class="form-label">Message</label>
            <textarea class="form-control" formControlName="message" placeholder="message" rows="5"></textarea>
            <small *ngIf="contactFormGroup.controls['message'].errors && contactFormGroup.controls['message'].touched" class="text-danger">
              {{errorContact('Message',contactFormGroup.controls['message'].errors)}}
            </small>
          </div>
          <div class="mb-3">
            <button [disabled]="contactFormGroup.invalid" type="submit" class="btn btn-outline-secondary w-100">Submit</button>
          </div>
        </form>
      </div>
  
    </div>
  </div>
  